body {
	background-color: tan;
}

.boardSquare {
	background-color: beige;
	border: 2px solid white;
	position:absolute;
	width: 100px;
	height:100px;
}

.redTemple {
	background-color: darkred;
}
.blueTemple {
	background-color: darkblue;
}

.cardSlot {
	width: 230;
	height: 140;
	background-color:lightgrey;
	border:5px solid white;
	position:absolute;
}

#p1c1 {
	top:25px;
	left:510px;
}

#p1c2 {
	top:25px;
	left:760px;
}


#p0c1 {
	top:730px;
	left:510px;
}

#p0c2 {
	top:730px;
	left:760px;
}

#neutralLeft {
	top:380px;
	left:250px;
}
#neutralRight {
	top:380px;
	left:1020px;
}

.piece {
	border-radius: 50%;
	border:4px solid silver;
	margin: 5px;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.pawn {
	width:80px;
	height:80px;
}

.master {
	border-radius: 15%;
	border: 4px solid gold;
	width:80px;
	height:80px;
}